:root {

  --grid-size: 16;

  --clr-neutral-900: #1f2937;
  --clr-neutral-400: #dadce086;
  --clr-neutral-100: #F9FAF8;
  --clr-accent: #3882f6;

  --ff-primary: "Roboto", sans-serif;

  /* small screen font sizes */
  --fs-400: .8rem;
  --fs-500: 1rem;
  --fs-900: 2.5rem;

  --fw-700: 700;
  --fw-400: 400;
  --fw-300: 300;

}

@media(min-width:50em) {
  :root {
    /* big screen font sizes */
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-900: 3.5rem;
  }
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* layout */

header {
  padding: 2.5em 0;
}

main {
  margin-inline: auto;
  justify-content: flex-end;
  gap: 1rem;
  max-width: 70rem;
  padding: 0 1em;
  margin-bottom: 1rem;
}

.control-pad {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.control-pad>* {
  flex-basis: 100%;
}

.responsive-split {
  display: flex;
  flex-direction: column-reverse;
}

/* utility classes */

.split {
  display: flex;
}

/* general styling */

html {
  height: 100%;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-400);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: var(--fs-900);
  text-align: center;
}

footer {
  color: var(--clr-neutral-100);
  font-size: var(--fs-500);
  background-color: var(--clr-neutral-900);
  display: flex;
  justify-content: center;
  gap: .5em;
  padding: 1em 0;
  margin-top: auto;
}

button {
  border: solid 1px var(--clr-neutral-900);
  border-radius: 5px;
  font-size: var(--fs-400);
  padding: .5em 1em;
  cursor: pointer;
  width: 10rem;
}

button:hover,
button:focus,
a:hover,
a:focus {
  opacity: .5;
}

i {
  color: var(--clr-neutral-100);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  box-shadow: rgb(0 0 0 / 40%) 0px 3px 8px;
  width: 34rem;
  height: 34rem;
}

.grid-element {
  display: inline-block;
}

.hover {
  background-color: black;
}

@media(min-width: 50em) {

  main {
    gap: 2rem;
    padding: 0;
  }

  .control-pad {
    flex-direction: column;
    align-self: flex-start;
    gap: 2rem;
  }

  .control-pad>* {
    flex-basis: auto;
  }

  .responsive-split {
    flex-direction: row;
  }
}