:root {
  --grid-size: 16;

  --clr-neutral-900: #1f2937;
  --clr-neutral-400: #dadce086;
  --clr-neutral-100: #F9FAF8;
  --clr-accent: #3882f6;

  --ff-primary: "Roboto", sans-serif;

  /* small screen font sizes */
  --fs-400: 1rem;
  --fs-600: 1.25rem;
  --fs-700: 1.75rem;
  --fs-900: 2.5rem;

  --fw-900: 900;
  --fw-700: 700;
  --fw-400: 400;
  --fw-300: 300;

}

@media(min-width:50em) {
  :root {
    /* big screen font sizes */
    --fs-400: 1.125rem;
    --fs-600: 1.5rem;
    --fs-700: 2.25rem;
    --fs-900: 4rem;
  }
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* layout */

header {
  padding: 1.5em 0;
}

main {
  margin-inline: auto;
  justify-content: flex-end;
  gap: 1rem;
  max-width: 70rem;
  padding: 0 1em;
}

.control-pad {
  justify-content: center;
}

.control-pad>* {
  flex-basis: 100%;
}

.responsive-split {
  display: flex;
  flex-direction: column-reverse;
}

@media(min-width: 50em) {

  main {
    gap: 6.25rem;
    padding: 0;
  }

  .control-pad {
    flex-direction: column;
    align-self: flex-start;
  }

  .control-pad>* {
    flex-basis: auto;
  }

  .responsive-split {
    flex-direction: row;
  }
}

/* utility classes */

.split {
  display: flex;
  gap: 2rem;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-400);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: var(--fs-900);
  text-align: center;
}

footer {
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  background-color: var(--clr-neutral-900);
  display: flex;
  justify-content: center;
  gap: .5em;
  padding: 1em 0;
}

a:hover,
a:focus {
  opacity: .5;
}

i {
  color: var(--clr-neutral-100);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  box-shadow: rgb(0 0 0 / 40%) 0px 3px 8px;
  width: 30rem;
  height: 35rem;
}

.grid-element {
  display: inline-block;
}

.hover {
  background-color: black;
}